<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler"/>
  </configSections>
  <appSettings>
  </appSettings>
  <log4net>
    <!--定义输出到文件中-->
    <appender name="LastMessageLogFileAppender" type="log4net.Appender.FileAppender">
      <!--定义文件存放位置-->
      <File type="log4net.Util.PatternString" value=" %property{LogFolder}/last_message.txt" />
      <appendToFile value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <!--每条日志末尾的文字说明-->
        <!--<footer value="Write by Cvtouch" />-->
        <!--输出格式-->
        <!--样例：2009-08-03 12:12:12,111 [10] INFO  Log4NetDemo.MainClass [(null)] - info-->
        <conversionPattern value="%newline****************************************************************%newline%newline记录时间：  %date %newline线程ID  ：  [%thread] %newline日志级别：  %-5level %newline出错类  ：  %logger property:[%property{NDC}] - %newline错误描述：  %message%newline" />
      </layout>
    </appender>

    <appender name="LastInfoLogFileAppender" type="log4net.Appender.FileAppender">
      <!--定义文件存放位置-->
      <File type="log4net.Util.PatternString" value=" %property{LogFolder}/last_info.txt" />
      <appendToFile value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <!--每条日志末尾的文字说明-->
        <!--<footer value="Write by Cvtouch" />-->
        <!--输出格式-->
        <!--样例：2009-08-03 12:12:12,111 [10] INFO  Log4NetDemo.MainClass [(null)] - info-->
        <conversionPattern value="%newline****************************************************************%newline%newline记录时间：  %date %newline%message%newline" />
      </layout>
    </appender>

    <appender name="LastFatalLogFileAppender" type="log4net.Appender.FileAppender">
      <!--定义文件存放位置-->
      <File type="log4net.Util.PatternString" value=" %property{LogFolder}/last_fatal.txt" />
      <appendToFile value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <!--每条日志末尾的文字说明-->
        <!--<footer value="Write by Cvtouch" />-->
        <!--输出格式-->
        <!--样例：2009-08-03 12:12:12,111 [10] INFO  Log4NetDemo.MainClass [(null)] - info-->
        <conversionPattern value="%newline****************************************************************%newline%newline记录时间：  %date %newline线程ID  ：  [%thread] %newline日志级别：  %-5level %newline出错类  ：  %logger property:[%property{NDC}] - %newline错误描述：  %message%newline" />
      </layout>
    </appender>

    <appender name="AllMessageLogFileAppender" type="log4net.Appender.FileAppender">
      <!--定义文件存放位置-->
      <File type="log4net.Util.PatternString" value=" %property{LogFolder}/all_message.txt" />
      <appendToFile value="true" />
      <datePattern value="yyyy-MM-dd HH:mm:ss" />
      <!--Size情况下MaxSizeRollBackups和maximumFileSize的节点设置才有意义-->
      <RollingStyle value="Size"/>
      <!--每天记录的日志文件个数，与maximumFileSize配合使用-->
      <MaxSizeRollBackups value="5"/>
      <!--每个日志文件的最大大小-->
      <!--可用的单位:KB|MB|GB-->
      <!--不要使用小数,否则会一直写入当前日志-->
      <maximumFileSize value="5MB"/>
      <layout type="log4net.Layout.PatternLayout">
        <!--每条日志末尾的文字说明-->
        <!--<footer value="Write by Cvtouch" />-->
        <!--输出格式-->
        <!--样例：2009-08-03 12:12:12,111 [10] INFO  Log4NetDemo.MainClass [(null)] - info-->
        <conversionPattern value="%newline****************************************************************%newline%newline记录时间：  %date %newline线程ID  ：  [%thread] %newline日志级别：  %-5level %newline出错类  ：  %logger property:[%property{NDC}] - %newline错误描述：  %message%newline" />
      </layout>
    </appender>

    <appender name="AllInfoLogFileAppender" type="log4net.Appender.FileAppender">
      <!--定义文件存放位置-->
      <File type="log4net.Util.PatternString" value=" %property{LogFolder}/all_info.txt" />
      <appendToFile value="true" />
      <datePattern value="yyyy-MM-dd HH:mm:ss" />
      <!--Size情况下MaxSizeRollBackups和maximumFileSize的节点设置才有意义-->
      <RollingStyle value="Size"/>
      <!--每天记录的日志文件个数，与maximumFileSize配合使用-->
      <MaxSizeRollBackups value="5"/>
      <!--每个日志文件的最大大小-->
      <!--可用的单位:KB|MB|GB-->
      <!--不要使用小数,否则会一直写入当前日志-->
      <maximumFileSize value="5MB"/>
      <layout type="log4net.Layout.PatternLayout">
        <!--每条日志末尾的文字说明-->
        <!--<footer value="Write by Cvtouch" />-->
        <!--输出格式-->
        <!--样例：2009-08-03 12:12:12,111 [10] INFO  Log4NetDemo.MainClass [(null)] - info-->
        <conversionPattern value="%newline****************************************************************%newline%newline记录时间：  %date %newline%message%newline" />
      </layout>
    </appender>


    <appender name="AllFatalLogFileAppender" type="log4net.Appender.FileAppender">
      <!--定义文件存放位置-->
      <File type="log4net.Util.PatternString" value=" %property{LogFolder}/all_fatal.txt" />
      <appendToFile value="true" />
      <datePattern value="yyyy-MM-dd HH:mm:ss" />
      <!--Size情况下MaxSizeRollBackups和maximumFileSize的节点设置才有意义-->
      <RollingStyle value="Size"/>
      <!--每天记录的日志文件个数，与maximumFileSize配合使用-->
      <MaxSizeRollBackups value="5"/>
      <!--每个日志文件的最大大小-->
      <!--可用的单位:KB|MB|GB-->
      <!--不要使用小数,否则会一直写入当前日志-->
      <maximumFileSize value="5MB"/>
      <layout type="log4net.Layout.PatternLayout">
        <!--每条日志末尾的文字说明-->
        <!--<footer value="Write by Cvtouch" />-->
        <!--输出格式-->
        <!--样例：2009-08-03 12:12:12,111 [10] INFO  Log4NetDemo.MainClass [(null)] - info-->
        <conversionPattern value="%newline****************************************************************%newline%newline记录时间：  %date %newline线程ID  ：  [%thread] %newline日志级别：  %-5level %newline出错类  ：  %logger property:[%property{NDC}] - %newline错误描述：  %message%newline" />
      </layout>
    </appender>


    <logger name="LastMessageLog">
      <level value="WARN"/>
      <appender-ref ref="LastMessageLogFileAppender"/>
    </logger>

    <logger name="LastInfoLog">
      <level value="ALL"/>
      <appender-ref ref="LastInfoLogFileAppender"/>
    </logger>

    <logger name="LastFatalLog">
      <level value="FATAL" />
      <appender-ref ref="LastFatalLogFileAppender"/>
    </logger>

    <logger name="AllMessageLog">
      <level value="WARN" />
      <appender-ref ref="AllMessageLogFileAppender"/>
    </logger>

    <logger name="AllInfoLog">
      <level value="ALL" />
      <appender-ref ref="AllInfoLogFileAppender"/>
    </logger>

    <logger name="AllFatalLog">
      <level value="FATAL" />
      <appender-ref ref="AllFatalLogFileAppender"/>
    </logger>



  </log4net>
</configuration>